{
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "tabWidth": 4,
                "parser": "php"
            }
        },
        {
            "files": ["*.blade.php"],
            "options": {
                "tabWidth": 3,
                "parser": "html"
            }
        }
    ]
}
