{
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "tabWidth": 4,
                "parser": "php",
                "printWidth": 60,
                "semi":false,
                "bracketSpacing": true,
                "bracketSameLine": false,
                "singleAttributePerLine": false,
                "endOfLine": "crlf",
                "wrapAttributes": "auto"
            }
        },{
            "files": ["*.blade.php"],
            "options": {
                "tabWidth": 4,
                "parser": "blade",
                "printWidth": 120,
                "bracketSameLine": false,
                "wrapAttributes": "auto",
                "sortTailwindcssClasses": true,
                "sortHtmlAttributes": "none",
                "noPhpSyntaxCheck": false
            }
        }
    ]
}
